* {
	font-family: "Arial";
	font-size: 0.98em;
}
.browsefile_item {
	list-style-image: url(file_icon.png);
}
.browsedir_item {
	list-style-image: url(folder_icon.png);
}
.browseempty_item {
	list-style-type: none;
}
.browseup_item {
	list-style-image: url(up_icon.png);
}
#msg {
	border-left: 2px solid red;
	padding-left: 2px;
	font-weight: bold;
}
