* {
	font-family: "Courier New";
	font-size: 0.98em;
	padding: 0;
	margin: 0;
}

body {
	margin: 5px;
}

#msg {
	border-left: 2px solid red;
	padding-left: 2px;
	font-weight: bold;
}
#logout_form, #login_form {
	float: right;
	margin-left: 10px;
}
#login_form_pw {
	margin-right: 10px;
}

td img {
	height: 12px;
}

td {
	padding-right: 5px;
	height: 12px;
}

table {
	margin-left: 40px;
	margin-bottom: 20px;
}

td input {
	width: 95%;
}

#content_edit {
	clear: left;
	width: 100%;
}
#edit_cancel, #edit_save {
	float: left;
}

#col_edit {
	width: 100px;
}

input {
	border: none;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 1px 3px;
}

input:focus {
	background-color: #DEDEDE;
}

input:hover {
	background-color: #EBEBEB;
}

input:disabled {
	display: none;
}

#upload_start, #edit_cancel {
	margin: 0 10px;
}

#edit_form {
	width: 100%;
}
#edit_info {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.CodeMirror {
	clear: left;
	border: 1px solid black;
	height: auto;
	max-height: 800px;
}

.syn_change {
	margin-right: 10px;
}
