* {
	font-family: "Courier New";
	font-size: 0.98em;
	padding: 0;
	margin: 0;
}

body {
	margin: 5px;
}

#msg {
	border-left: 2px solid red;
	padding-left: 2px;
	font-weight: bold;
}

td img {
	height: 12px;
}

td {
	padding-right: 5px;
	height: 12px;
}

table {
	margin-left: 40px;
	margin-bottom: 20px;
}

td input {
	width: 100%;
}

#content_edit {
	width: 100%;
}
.floatl {
	float: left;
}

#col_edit {
	width: 100px;
}

input {
	border: none;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 1px 3px;
}

input:focus {
	background-color: #DEDEDE;
}

input:hover {
	background-color: #EBEBEB;
}

#upload_start, #edit_cancel {
	margin-left: 10px;
}
